/* src/styles/globalStyles.css */

.backCommonColor {
    background-color: linear-gradient(to bottom, #e0f2fe 0%, #f0f9ff 50%, #d1e4fb 100%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in {
    animation: fadeIn 0.4s ease-out forwards;
}